@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

/**
 * General Styles
 */

* {
	box-sizing: border-box;
}

body {
	background: url(https://imgur.com/nWof7hJ.png) center / cover;
	width: 100%;
	position: absolute;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	z-index: -1;
}

button {
	cursor: pointer;
}

button:focus {
	outline: none;
}

/**
 * Ant List
 */

.ant-list-component {
	min-width: 1230px;
}

.ant-list-component .ants-paper-container {
	display: flex;
	justify-content: space-evenly;
}

/**
 * Ant List Paper and Picture
 */

.ant-paper-container {
	width: 40%;
	margin: 0 auto;
}
.ant-paper-container img {
	width: 40%;
	float: right;
	margin-top: -5%;
	margin-right: -15%;
	transform: rotate(15deg);
	box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.5);
}
.ant-paper {
	margin-top: 66px;
	margin-bottom: 50px;
	background: #f4f0e1;
	height: auto;
	padding: 40px;
	font-size: 120%;
	font-family: Indie Flower;
	line-height: 1.5em;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3) 1px, transparent 1px);
	background-size: 100% 1.5em;
	background-origin: content-box;
	background-position: 0 1em;
	border-radius: 15px;
	box-shadow: -5px 5px 8px rgba(0, 0, 0, 0.3);
}
.ant-paper ul {
	margin: 0;
	padding-top: 0;
}
.ant-paper p {
	margin: 0;
	padding-top: 0;
}
.ant-paper h1 {
	font-size: 1.3em;
	padding: 0;
	margin: 0;
	font-size: bold;
	line-height: 25px;
}

.ant-paper button {
	font-family: Indie Flower;
	font-size: 1em;
	margin-top: 20px;
	margin-right: 25px;
	border: none;
}

/**
 * Ant Cards
 */

#handwritten {
	line-height: 1;
	margin-top: 40px;
	width: 235px;
	padding: 20px 10px 0 63px;
	background-color: #fff;
	background-image: linear-gradient(
			90deg,
			transparent 59px,
			#abced4 59px,
			#abced4 61px,
			transparent 61px
		),
		linear-gradient(#e1e1e1 0.1em, transparent 0.1em);
	background-size: 100% 1em;
	font-size: 18px;
	box-shadow: 3px 3px 6px black;
	font-family: Indie Flower;
	font-weight: normal;
	position: relative;
}

#handwritten em {
	font-size: 1.3em;
	background-color: rgba(255, 247, 128, 0.7);
	font-style: normal;
	margin-bottom: 10px;
}

#handwritten p {
	padding: 3px;
}

#handwritten .odds-status {
	background-color: black;
	font-size: 1.2em;
	color: white;
}

#handwritten .color-status {
	margin-top: 46px;
	font-size: 0.8em;
}

#handwritten .length-status {
	background-color: #673ab7;
	font-size: 0.8em;
	color: white;
}

#handwritten .weight-status {
	background-color: #3f51b5;
	font-size: 0.8em;
	color: white;
}

#handwritten .lg-odds-status {
	background: url(https://imgur.com/CqMbuL0.png) no-repeat center / cover;
	background-color: transparent;
	width: 75px;
	height: 75px;
	border-radius: 99px;
	left: -15px;
	bottom: 240px;
	position: absolute;
}

#handwritten .lg-odds-status p {
	font-size: 3em;
	font-weight: bold;
	color: #1b5e20;
	padding-top: 25px;
	padding-left: 28px;
}

/**
 * Pin
 */

.pin {
	background-color: #aaa;
	background-image: linear-gradient(
		left,
		hsla(0, 0%, 100%, 0.2),
		hsla(0, 0%, 0%, 0.2)
	);
	display: block;
	height: 2em;
	left: 50%;
	margin: -1em -0.05em;
	position: absolute;
	top: -2%;
	width: 0.1em;
}
.pin:after {
	background-color: skyBlue;
	background-image: radial-gradient(
		25% 25%,
		circle,
		hsla(0, 0%, 100%, 0.2),
		hsla(0, 0%, 0%, 0.2)
	);
	border-radius: 50%;
	box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.1),
		inset 0.2em 0.2em 0.2em hsla(0, 0%, 100%, 0.2),
		inset -0.2em -0.2em 0.2em hsla(0, 0%, 0%, 0.2),
		1.5em 1.25em 0.25em hsla(0, 0%, 0%, 0.15);
	content: "";
	height: 0.8em;
	left: -0.35em;
	position: absolute;
	top: -0.65em;
	width: 0.8em;
}
.pin:before {
	background-color: hsla(0, 0%, 0%, 0.1);
	box-shadow: 0 0 0.25em hsla(0, 0%, 0%, 0.1);
	content: "";
	height: 1.5em;
	left: 0;
	position: absolute;
	top: 0.5em;
	transform: rotate(57.5deg);
	transform-origin: 50% 100%;
	width: 0.1em;
}
